[submodule "home/moritz/themes/catppuccin/waybar"]
	path = home/moritz/themes/catppuccin/waybar
	url = https://github.com/catppuccin/waybar.git
[submodule "home/moritz/themes/catppuccin/mako"]
	path = home/moritz/themes/catppuccin/mako
	url = https://github.com/catppuccin/mako.git
[submodule "home/moritz/themes/catppuccin/alacritty"]
	path = home/moritz/themes/catppuccin/alacritty
	url = https://github.com/catppuccin/alacritty
[submodule "home/moritz/themes/catppuccin/zathura"]
	path = home/moritz/themes/catppuccin/zathura
	url = https://github.com/catppuccin/zathura
[submodule "home/moritz/themes/catppuccin/rofi"]
	path = home/moritz/themes/catppuccin/rofi
	url = https://github.com/catppuccin/rofi
